@using CarRental.Business
@using CarRental.Business.Classes

@inject CustomerProcessor cp

@foreach (var customer in cp.GetCustomers())
{
    <tr>
        <td scope="row">
            @customer.SSN
        </td>

        <td>
            @customer.LastName
        </td>
        <td>
            @customer.FirstName
        </td>
    </tr>
}