@page "/"
@using CarRental.Business.Classes;
@using CarRental.Common.Classes;
@using CarRental.Common.Interface;
@using CarRental.Common.Enum;
@using Carrental.UIComponents.Cars;

@inject BookingProcessor bp
@inject VehicleProcessor vp

<PageTitle>Car rental</PageTitle>

<h1>Car rental</h1>
<p>Welcome to your local car rental.</p>

@*Error message*@
@if (bp.sendError)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error: </strong>@bp.error
    </div>
}

<SortingButtons OnSortAll="()=>vp.GetVehicles()"
                OnSortAvailable="()=>vp.GetVehicles(VehicleStatuses.Available)" 
                OnSortBooked="()=>vp.GetVehicles(VehicleStatuses.Booked)">
</SortingButtons>

@* Table *@
<table class="table table-striped">
        <CarTableHeader></CarTableHeader>
    <tbody>
        @if (bp.hiring == true)
        {
            <CarTableHeaderInputFieldsInactived></CarTableHeaderInputFieldsInactived>
        }
        else
        {
            <CarTableHeaderInputFieldsActive></CarTableHeaderInputFieldsActive>
        }
        <CarTableBody></CarTableBody>
    </tbody>
</table>

<p>Note that all prices are in Swedish crowns (SEK)</p>