@page "/fetchdata"
@using CarRental.Business.Classes
@using CarRental.Common.Interface
@using CarRental.Common.Enum
@using Carrental.UIComponents
@using Carrental.UIComponents.Customers

@inject BookingProcessor bp
@inject CustomerProcessor cp;

<PageTitle>Customers</PageTitle>

<h1>Customer</h1>
<p>Below is a list of customers:</p>
@if (bp.sendError == true)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error: </strong>@bp.error
    </div>
}

<table class="table table-striped">
    <CustomerTableHeader></CustomerTableHeader>
    <CustomerTableHeaderInputFields></CustomerTableHeaderInputFields>
    <tbody>
        <CustomerTableBody></CustomerTableBody>
    </tbody>
</table>